name: cpu-unit-tests
on:
  workflow_dispatch
jobs:
  cpu-unit-tests-job:
    runs-on: jobset
    container:
      image: us-docker.pkg.dev/supercomputer-testing/axlearn/arc-jobset-post-cmd-nightly:latest
      env:
        GCS_PREFIX: gs://axlearn-arc-testing/testing
        ARC_JOBSET_NAME: cpu-unit-tests
        ARC_JOBSET_JSON: /var/arc/cpu.json
        JOBSET_DOCKER_IMAGE: us-docker.pkg.dev/supercomputer-testing/axlearn/arc-cpu-py312-jax-nightly:latest
        JOBSET_HEALTHY_TIMEOUT: 3600
        RESUME_JOBSET: true
        # Optional flags
        # CUSTOM_GIT_ORIGIN: https://github.com/apple/axlearn # Optionally point to another repo
        CUSTOM_GIT_ORIGIN: https://github.com/Borklet-Labs/axlearn # Optionally point to another repo
        CUSTOM_GIT_BRANCH: jax_py3.12_nightly
        # JOBSET_MAX_RESTARTS: 1 # Allow restarts in the JobSet. Default = 0 (no restarts)
        POST_SETUP_CMD: pip install -U --pre jax jaxlib requests  -i https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/
    steps:
      - name: Install the Kubernetes Python SDK
        run: uv pip install kubernetes
      - name: Launch the CPU unit tests
        run: GH_RUN_ID=${{ github.run_id }} python3 /var/arc/launch_jobset.py
      - name: Delete JobSet if cancelling
        if: cancelled()
        run: python3 /var/arc/cleanup_jobset.py
