name: gpu-multihost-training-test
on:
  workflow_dispatch:
  workflow_call:
jobs:
  gpu-multihost-training-test-job:
    runs-on: jobset # Runs on CPU because this schedules a JobSet that's later routed to GPU
    env:
      # Required environmental variables for a successful run
      ARC_JOBSET_NAME: axlearn-gpu-training
      ARC_JOBSET_JSON: /var/arc/gpu-multi-hosts.json
      GCS_PREFIX: gs://axlearn-arc-testing/testing
      JOBSET_DOCKER_IMAGE: us-docker.pkg.dev/supercomputer-testing/axlearn/arc-gpu-py312-jax-nightly:latest
      JOBSET_HEALTHY_TIMEOUT: 900
      ACCELERATOR: b200_16
      # Optional flags
      CUSTOM_GIT_ORIGIN: https://github.com/Borklet-Labs/axlearn # Optionally point to another repo
      CUSTOM_GIT_BRANCH: jax_py3.12_nightly
      # JOBSET_MAX_RESTARTS: 1 # Allow restarts in the JobSet. Default = 0 (no restarts)
      POST_SETUP_CMD: (pip install -v -U --pre jax jaxlib jax-cuda12-plugin -i https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/ -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html) || echo "Setup failed or skipped during teardown"
    container:
      # image: us-docker.pkg.dev/supercomputer-testing/axlearn/arc-jobset-post-cmd-nightly:latest
      image: us-docker.pkg.dev/supercomputer-testing/axlearn/arc-jobset-gcs-update:latest
    steps:
      - name: Install the Kubernetes Python SDK
        run: uv pip install kubernetes
      - name: Launch the GPU training job
        id: launch_job
        run: |
          export GITHUB_OUTPUT=$GITHUB_OUTPUT

          GH_RUN_ID=${{ github.run_id }} python3 /var/arc/launch_jobset.py
      - name: Upload the training result to GCS
        if: always()
        env:
          GCS_PREFIX: gs://axlearn-arc-testing/testing
        run: |
          JAX_VER=${{ steps.launch_job.outputs.jax_version }}
          GH_RUN_ID=${{ github.run_id }} JAX_VER="${JAX_VER}" bash /var/arc/upload-result.sh
